* {
    box-sizing: border-box;
}
#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr); 
    grid-template-rows: auto;
}
header {
    display: grid;
    height: 125px;
    grid-column: 1 / 8;
    background-color: rgba(238, 0, 0, 0.3);
}
#homehero {
    display: grid;
    height: 125px;
    grid-column: 1 / 8;
    background-color: rgba(74, 255, 2, 0.3);
}
#section1 {
    display: grid;
    height: 125px;
    grid-column: 2 / 7;
    background-color: rgba(2, 213, 255, 0.3);
}
#section2 {
    display: grid;
    height: 125px;
    grid-column: 2 / 7;
    background-color: rgba(124, 2, 255, 0.3);
}
footer {
    display: grid;
    height: 125px;
    grid-column: 1 / -1;
    background-color: rgba(255, 2, 255, 0.3);
}