* {
    box-sizing: border-box;
}
#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr); 
    grid-template-rows: auto;
    background-color: #b3b3b3;
    width: 100%;
}
header {
    height: 125px;
    display: grid;
    grid-column: 1 / -1;
    background-color: rgba(5, 21, 255, 0.3);
}
#homehero {
    height: 393px;
    display: grid;
    grid-column: 1 / 8;
    background-color: rgba(255, 2, 2, 0.3);
}
main {
    display: grid;
    grid-column: 1 / -1;
    background-color: rgba(255, 255, 255, 0.3);
}
#section1 {
    height: 490px;
    display: grid;
    grid-column: 2 / 7;
    background-color: rgba(255, 158, 2, 0.3);
}
#section2 {
    height: 424px;
    display: grid;
    grid-column: 2 / 7;
    background-color: rgba(48, 255, 2, 0.3);
}
footer {
    height: 168px;
    display: grid;
    grid-column: 1 / -1;
    background-color: rgba(234, 255, 2, 0.3);
}