* {
    box-sizing: border-box;
    }

#wrapper {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr); 
    grid-template-rows: auto;
    background-color: #0F2631;
    }


/* HEADER */

header {
    height: auto;
    display: flex;
    grid-column: 1 / 4;
    background-color: #0F2631;
    justify-content: center;
    text-decoration: none;
    background-size: cover;
    }


header h1 {
    font-family: "AstonScriptBold-Bold";
    font-size: 30px;
    color: #bebebe;
    float: left;
    margin-left: 40px;
    }
header a { 
    text-decoration: none;
}

/* NAVIGATION */

nav {
    display: flex;
    padding-top: 25px;
    align-items: center;
    height: 100%;
    text-align: center;
    grid-column: 4 / -1;
    position: sticky;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    }

nav li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #bebebe;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #AEA922;
}

.nav-img-button:hover {
  background-image: url("images/carthover.png");
}

/* HOMEHERO */

#homehero {
    height: auto;
    display: grid;
    grid-column: 1 / -1;
    background-image: url(images/homehero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    border-bottom: #AEA922 dotted 8px;
    }

    h2 {
    font-family: "AstonScriptBold-Bold";
    font-size: 130px;
    color: #AEA922;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    margin: 60px;
    }

/* SECTION 1 */

#section1 {
    height: auto;
    display: flex;
    background-image: url(images/sectionbkg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    border-bottom: #AEA922 dotted 8px;
    }

#section1 img {
    float: left;
    margin: 40px;
    max-width: 400px;
    height: 275px;
    }

#section1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #AEA922;
    margin: 40px 20px 20px 40px;
    text-shadow: .5px .5px 4px #e3e3e3;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0F2631;
    margin: 40px;
    }

/* SECTION 2 */

#section2 {
    height: auto;
    grid-column: 3 / 7;
    background-color: #122f3c;
    justify-content: center;
    }

#gallery {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    }

#gallery div {
    border: 4px solid #AEA922;
    margin: 40px 20px 20px 5px;
    }

#gallery div img {
    width: 200px;
    height: 200px;
    margin: 10px;
    }

#section2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80px;
    background-color: #bebebe;
    border-top: 12px double #122f3c;
    border-bottom: 12px double #122f3c;
    }

#section2 li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

#section2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #AEA922;
    text-align: right;
    margin: 17px 40px 40px 0px;
    padding-left: 40px;
    text-shadow: .5px .5px 4px #e3e3e3;
    }

/* FOOTER */

footer {
    height: auto;
    grid-column: 2 / 8;
    display: flex;
    background-color: #0F2631;
    padding: 20px;
    }

footer h1 {
    font-family: "AstonScriptBold-Bold";
    font-size: 30px;
    color: #bebebe;
    float: left;
    margin-left: 40px;
    }

footer table {
    margin: 0 auto;
    width: 100%;
    float: right;
    }

footer table, footer th {
    border: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #AEA922;
}
footer th {
    text-align: right;
    font-weight: normal;
}
footer a {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #AEA922;
    text-align: right;
}
footer a:hover {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #bebebe;
    text-align: right;
}
footer caption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #AEA922;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 0;
    }

/* MAIN */

main {
    grid-column: 1 / -1;
    background-color: #bebebe;
    }

/* SHOP */
#shop-main {
    background-image: url(images/sectionbkg.png);
    background-size: contain;
}
h4 {
    font-family: "AstonScriptBold-Bold";
    font-size: 30px;
    color: #0F2631;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0;
    border-bottom: #AEA922 dotted 8px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0F2631;
}

.products {
    display: flex;
    padding-top: 25px;
    align-items: center;
    height: 100%;
    text-align: center;
    grid-column: 4 / 8;
    position: sticky;
}

main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    }

.product {
    border: 2px solid #0F2631;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}
.product h3 {
    font-size: 20px;
    margin-left: 25px;
    width: 400px;
}
.product img{
    width: 200px;
    height: auto;
    border: #AEA922 solid 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
details summary{
    padding-left: 25px;
    width: 100px;
    text-align: right;
}
details li {
    padding-bottom: 40px;
}
details { 
    color: #122f3c;
    font-weight: bold;
}
button {
  padding: 5px 10px;
  height: 70px;
  background-color: #AEA922;
  color: #0F2631;
  border: none;
  cursor: pointer;
}
button:hover {
    background-color: #0F2631;
    color:#bebebe;
}

/* CART */
    .mycart h3 {
    font-family: "AstonScriptBold-Bold";
    color: #AEA922;
    background-color: #0F2631;
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    }
    #cart-list li{
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}
    .mycart p{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    font-weight: bold;
}
.mycart button {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    cursor: pointer;
}

/* GALLERY */
#gallery-main {
    background-image: url(images/sectionbkg.png);
    background-size: contain;
}

#page-gallery {
    display: grid;
    grid-column: 1 / -1;
}
#page-gallery h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #AEA922;
    text-align: center;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: none;
    text-shadow: .5px .5px 4px #e3e3e3;
}

#page-gallery p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #0F2631;
    text-align: left;
    padding: 0;
    margin-top: 0;
}

#gallery2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 40px;
}
#gallery2 div {
    margin: 20px;
}
#page-gallery img {
    width: 200px;
    height: 200px;
    border:#122f3c solid 5px;
    padding: 5px;
}
#page-gallery h1 {
    color:#AEA922;
    text-align: center;
    text-shadow: .5px .5px 4px #e3e3e3;
}
#page-gallery details {
    text-align: center;
    margin-left: 30px;
    color: #122f3c;
    font-weight: bold;
}
#page-gallery h3 {
    color:#AEA922;
    text-shadow: .5px .5px 4px #e3e3e3;
}
#features {
    color:#AEA922;
    text-align: center;
}
/* ABOUT */

#about-main {
    background-image: url(images/sectionbkg.png);
    padding: 20px;
    background-size: contain;
}

#about-main h3 {
    font-size: 60px;
    text-align: center;
    color:#122f3c;
    padding: 20px;
    border-bottom: #AEA922 12px dotted;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px #e3e3e3;
}

#about-main h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #AEA922;
    text-align: center;
    margin: 0;
    padding-top: 40px;
    text-shadow: .5px .5px 4px #e3e3e3;
}
#about-main #gallery div img {
    width: 150px;
    height: 200px;
    margin: 10px;
    }

#about-main img {
    width: 300px;
    height: 550px;
    float: right;
    margin: 2rem;
}
#thanks {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0F2631;
    margin: 40px;
    text-align: center;
}
#about-main p {
    margin-top: 25px;
}


/* CUSTOM */

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    border-top: #AEA922 dotted 8px;
    margin-top: 60px;;
}
input, textarea {
    font-size: 1rem;
    padding: 10px;
    border: none;
}
input, textarea :focus {
    outline: none;
}
label {
    padding: 5px;
    text-align: center;
    flex-flow: wrap;
}
#send {
    background-color: #AEA922;
}
#send:hover{
    background-color: #0F2631;
    color:#bebebe;
    cursor: pointer;
}

#custom-main {
    background-image: url(images/sectionbkg.png);
    padding-top: 20px;
    background-size: contain;
}
#custom-main a {
    text-decoration: none;
    color: #AEA922;
}
#custom-main a:hover {
    color: #122f3c;
    cursor: pointer;
}
#custom-main p {
    margin-bottom: 1rem;
}
#view {
    text-align: center;
    color: #0F2631;
    padding: 20px;
}
#custom-main #gallery img {
    width: 200px;
    height: 200px;
}


/* FONT */

@font-face {
    font-family:"AstonScriptBold-Bold";src:url("Aston_Script.eot?") format("eot"),url("Aston_Script.woff") format("woff"),url("Aston_Script.ttf") format("truetype"),url("Aston_Script.svg#AstonScriptBold-Bold") format("svg");font-weight:normal;font-style:normal;
    }

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {

    .center-column {
        width: 768px;
    }

    /* HEADER */

    header {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1 / 8;
    }

    header h1 {
    font-family: "AstonScriptBold-Bold";
    font-size: 30px;
    color: #bebebe;
    width: 100%;
    height: auto;
    text-align: center;
    float: none;
    margin-left: 0;
    }

    /* HOMEHERO */

    h2 {
    font-family: "AstonScriptBold-Bold";
    font-size: 110px;
    color: #AEA922;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    margin-left: 60px;
    }

    /* NAVIGATION */

    nav {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1 / 8;
    }

    nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    justify-content: center;
    }

    nav li {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    }

    nav a {
    padding: 0;
    }
    
    /* SECTION 1 */

    #section1 {
    height: auto;
    display: grid;
    background-image: url(images/sectionbkg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: static;
    border-bottom: #AEA922 dotted 10px;
    }

    #section1 img {
    float: none;
    max-width: 600px;
    height: auto;
    margin: 40px auto;
    }

    #section1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #AEA922;
    margin: 0 auto;
    }

}

@media screen and (max-width: 768px) {

    .center-column {
        width: 100%;
    }

    h2 {
    font-family: "AstonScriptBold-Bold";
    font-size: 90px;
    color: #AEA922;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    margin: 60px;
    }

    #about-main img {
    width: 90%;
    height: auto;
    float: none;
    padding-bottom: 0;
    border-bottom: #AEA922 dotted 15px;
}
#about-main h3 {
    font-size: 60px;
    text-align: center;
    color:#122f3c;
    margin-top: 0;
    border-bottom: none;
    margin-bottom: 0;
}
#about-main #gallery div img {
    border-bottom: none;
    }
#section1 img {
    float: none;
    max-width: 400px;
    height: auto;
    margin: 40px auto;
    }
}